<div>
  <table class="table table-bordered">
      <thead>
          <tr>
              <th class="active" colspan="4"><%= t('emergency_transfer_summary')%></th>
          </tr>
          <tr>
            <th colspan="4"><%= t('transfering_facility')%></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                <p> <%= t('name') %> </p>
                <p class="patient-data"><%= @facility.name %></p>
              </td>
              <td colspan="3"></td>
          </tr>
      </tbody>
      <thead>
        <tr>
          <th colspan="4"><%= t('patient_information')%></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="1">
            <p><%= t('first_name')%></p>
            <p class="patient-data"><%= @patient.first_name%></p>
          </td>
          <td>
            <p><%= t('middle_name')%></p>
            <p class="patient-data"><%= @patient.middle_name%></p>
          </td>
          <td>
            <p><%= t('last_name')%></p>
            <p class="patient-data"><%= @patient.last_name %></p>
          </td>
          <td>
            <p><%= t('mr')%></p>
            <p class="patient-data"><%= @patient.mr%></p>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="4">
            <h5><strong><%= t('summary')%></strong></h5>
            <p class="patient-data">
              <%= paragraph_1(@patient) %>
            </p>
              <p class="patient-data">
                <%= paragraph_2(@patient) %>
            </p>
            <p class="patient-data">
              <%= paragraph_3(@patient) %>
            </p>
          </td>
        </tr>
      </tbody>
  </table>
</div>

<p>
  <%= link_to "Print Summary (PDF)", patient_summaries_show_path(@patient, format: 'pdf') %>
</p>
